# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.2js
*.3js
*.4js

node_modules
dist
dist-ssr
*.local
target
.dfx

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Personal files
NOTES.md
.cargo/*
